<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alta 3 Labs</title>
</head>
<body>
<h1>Alta 3 Labs</h1>
<h3>Begin a class now!</h3>
<form action="/python/setup" method="POST">
    <input type="submit" value="Python">
</form>
<div><p>

</p>
</div>
<form action="/openstack/setup" method="POST">
    <input type="submit" value="Open Stack">
</form>
<div><p>

</p>
</div>
<form action="/kubernetes/setup" method="POST">
    <input type="submit" value="Kubernetes">
</form>
<div><p>

</p>
</div>
<form action="/ansible/setup" method="POST">
    <input type="submit" value="Ansible">
</form>
<div><p>

</p>
</div>

</body>
</html>