<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alta 3 Labs</title>
</head>
<body>
<img src="https://raw.githubusercontent.com/alta3/alta3.com/master/images/logos/a3.png?token=AtVB7WfCIJXE6_lMQQ5LE1eWwLAspT4-ks5ccwK2wA%3D%3D" style="width:3%">
<h1>Alta3 Labs</h1>
<h3>Join A Class Now!</h3>


<form action="/table/python" method="GET">
    <input type="submit" value="Python">
</form>
<div><p>

</p>
</div>
<form action="/table/openstack" method="GET">
    <input type="submit" value="Open Stack">
</form>
<div><p>

</p>
</div>
<form action="/table/kubernetes" method="GET">
    <input type="submit" value="Kubernetes">
</form>
<div><p>

</p>
</div>
<form action="/table/ansible" method="GET">
    <input type="submit" value="Ansible">
</form>
<div><p>

</p>
</div>

</body>
</html>