<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alta3 Instructor Home Page</title>
</head>
<body>
<img src="https://raw.githubusercontent.com/alta3/alta3.com/master/images/logos/a3.png?token=AtVB7WfCIJXE6_lMQQ5LE1eWwLAspT4-ks5ccwK2wA%3D%3D" style="width:3%">
<h1>Alta3 Instructor Home Page</h1>
<h3>Create A New Class!</h3>
<h5>or see the progress of an existing one</h5>
Enter something in the box: <BR>
<form action="/instructor" method="post">
<INPUT TYPE="text" NAME="new_course"  VALUE=""><P>
<INPUT TYPE="submit" NAME="button1" Value="Create Class!">
</FORM>
<form>
{% for i in course_list %}
    <ul><a href="table/{{i}}">{{i}}</a>
        <button value="Delete">Delete!!!</button></ul>
    {% endfor %}
</form>
</BODY>
</HTML>